* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: rgb(211, 240, 249);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

.content {
    background-color: white;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
    padding: 2em;

}

.welcome {
    font-size: 4em;
    text-align: center;
    color: rgb(255, 191, 191)
}

#spotify {
    background-color: #7bec7f;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 1em;
}

#spotify:hover {
    background-color: #47d14c;
}

a {
    text-decoration: none;
    color: black;
}

.intro-image {
    max-width: 50%;
    max-height: fit-content;
}

.main-sections {
    display: flex;
    flex-direction: column;
}

.section {
    border: none;
    border-radius: 10px;
    background-color: rgb(185, 255, 232);
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.work-title {
    color: rgb(255, 164, 179);
}

.work-title:hover {
    color: rgb(223, 146, 159);
}

.special-offer-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 50%;
}

#form-name {
    grid-column-start: 1;
    grid-column-end: 4;
}

#form-cvv {
    grid-row-start: 3;
}

#form-submit {
    margin-top: 0.5em;
    grid-row-start: 4;
}